body, h1, h2{
    font-family: 'Roboto', sans-serif;
        margin:0;

}

main{
    display:flex;
    justify-content: center;
    margin-top: 120px;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.status{
    color: rgb(107, 107, 107);
    font-size: 1.5rem;
}

#gameboard{
    display:grid;
    grid-template-columns: repeat(3,8rem);
    grid-template-rows: repeat(3,8rem);
    margin:30px;
}

.game-card{
    border:5px solid rgb(212, 211, 211);
    color: rgb(146, 146, 146);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#gameboard div:nth-child(3n){
    border-right:0;
}

#gameboard div:nth-child(3n-2){
    border-left:0;
}

#gameboard div:nth-child(-n+3){
    border-top:0;
}

#gameboard div:nth-child(n+7){
    border-bottom: 0;
}

.reset-btn{
    border:0;
    border-radius: 0px;
    padding:12px 60px;
    font-size: 1.2rem;
    color: rgb(107, 107, 107);

}

.reset-btn:hover{
    box-shadow: 0 -6px 0 #fff, 0 1px 6px rgba(0,0,0, .35);
}

.winner{
    background-color: rgb(169, 244, 169);
    transition: 1000ms;
}
